<nav class="navbar">
    <div class="container-fluid">
        <button class="btn" id="logout">Logout</button>
    </div>
</nav>
<div class="card">
    <main style="padding: 50px;">
        <ul id="messages">
        </ul>
        <form id="form" action="" class="bottom">
            <input id="input" autocomplete="off" /><button>Send</button>
        </form>
    </main>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
