<div class="card">
    <main>
        <ul class="pages">
            <li class="chat page">
                <div class="chatArea">
                    <ul id="messages"></ul>
                    <br>
                    <br>
                    <form id="form" action="" class="bottom">
                        <input class="inputMessage" id="input" autocomplete="off"
                            placeholder="Type here..." /><button>Send</button>
                    </form>
                </div>
            </li>
        </ul>

    </main>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/logout.js"></script>