<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img style='width:400px;height:400px;' src="/images/jamchat_transparent.png" />
            <h1>User of JamChat</h1>
            <h2>User: </h2>
            <h2>Bio:</h2>
        </div>
    </div>

    </body>

    <script src="/js/profile.js"></script>