* {
  box-sizing: border-box;
}

.form-group {
  padding: 10px;
}

.bottom {
  padding: 15px;
}

.logout {
  color: #f0c531;
}

.title {
  text-align: left;
  color: #f0c531;
  font-weight: bolder;
}

html,
body {
  height: 100%;
}

body {
  background-color: #c895a4;
  display: flex;
  flex-direction: column;
  margin-right: 10;
  margin-left: 10;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}
.content {
  flex: 1 0 auto;
}

#form {
  background: hsla(0, 0%, 0%, 0.15);
  padding: 0.25rem;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form > button {
  background: #2c3c3d;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
  background: #f0c531;
}

.card {
  display: flex;
  justify-content: center;
}

nav {
  background: #b4273e;
}

.btn {
  background: #f0c531;
}

.createText {
  color: #2c3c3d;
}

.footer {
  display: flex;
  flex-shrink: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b4273e;
  color: #ffffff;
  justify-content: center;
  font-size: smaller;
}
